# Testing things part like 1000

In [1]:
import geopandas as gp, pandas as pd, numpy as np

In [2]:
gdrive = "/Volumes/GoogleDrive/My Drive/Condon_Research_Group/Research_Projects/Rachel/Research/Data/bifurcation_data_repo/" #where shapefiles/csv live 
huc2 = gp.read_file(gdrive+"hucs/HUC2_CONUS.shp")

In [3]:
huc2.to_file('huc2_test.shp')

In [4]:

huc2 = huc2[['HUC2', 'Name', 'Prior_purp', 'geometry']]
type(huc2)

geopandas.geodataframe.GeoDataFrame

In [5]:
# 6. Aggregate by HUC
    #Aggregate segment values first
# HUC_vallist=['HUC2','HUC4','HUC8']
# HUC_vallist=['HUC8']

# segments = pd.read_csv(gdrive + "test_workflow/Red.csv", index_col='Hydroseq',
#                    usecols=['Hydroseq', 'UpHydroseq', 'DnHydroseq',
#                             'LENGTHKM', 'StartFlag', 'DamCount',
#                             'Coordinates', 'DamID',  'QC_MA', 'Norm_stor',
#                             'HUC2', 'HUC4', 'HUC8', 'StreamOrde'])

# fragments = pd.read_csv(gdrive + "test_workflow/Red_fragments.csv", index_col='Hydroseq')

# for HUC_val in HUC_vallist:
#     # print(HUC_val)
#     HUC_val = 'HUC8' # choices are HUC2, HUC4, HUC*

#     # Summarize values in the segments table
#     HUC_summary = segments.pivot_table(values=['Norm_stor', 'DamCount', 'LENGTHKM'],
#                                        index=HUC_val, aggfunc={'Norm_stor': (np.sum, np.max),
#                                                                 'DamCount': np.sum,
#                                                                 'LENGTHKM': np.sum})
# #     HUC_summary["Max_HUC_stor"] = HUC_summary['Norm_stor']['amax']
#     print('HUC summary test 1')
#     print(HUC_summary.columns)
#     # Then grab variables from the fragments table
#     HUC_summaryf = fragments.pivot_table(values=['LENGTHKM'],  index=HUC_val, 
#                                          aggfunc={'LENGTHKM': (np.mean, len, np.max)})
# #     HUC_summary["Avg_FragLength"] = HUC_summaryf['LENGTHKM']['mean']
# #     HUC_summary["Max_FragLength"] = HUC_summaryf['LENGTHKM']['amax']
# #     HUC_summary["Frag_Count"] = HUC_summaryf['LENGTHKM']['len']

#     print('HUC summary test 2')
#     print(HUC_summary.columns)

#     # Identify the most downstream segment in each HUC based on the upstream segment length
#     seg_group = segments.groupby(HUC_val)

#     # Identify the segment_outlet
#     seg_outlet = seg_group.LENGTHKM_up.idxmax() 
#     HUC_summary['seg_outlet'] = seg_group.LENGTHKM_up.idxmax() #segment 'outlet'
        
#     print('HUC summary test 3')
#     # print(HUC_summary)

#     #Use the segment outlet to look up other columns of interest
#     column_list = ['Frag', 'LENGTHKM_up', 'DOR', 'dci', 'Norm_stor_up', 'QC_MA']
#     outlet_vals = segments.loc[HUC_summary.seg_outlet, column_list]
#     HUC_summary = HUC_summary.join(outlet_vals, on='seg_outlet', rsuffix='_outlet')

#     print('HUC summary test 4')
#     # print(HUC_summary)

#     # HUC_summary = HUC_summary[column_list].add_suffix('_outlet')
#     add_suffix = [(i, i+'_outlet') for i in column_list]
#     HUC_summary.rename(columns = dict(add_suffix), inplace=True)
        
#     print('HUC summary test 5')
#     print(HUC_summary.columns)

    #LC I think you should stop here in this workflow -- write out the HUC data to csv
    #Then do the merging with shapefiles one time in a separate workflow for HUC analysis

    # write out to csv
#     HUC_summary.to_csv(gdrive+folder+basin+HUC_val+'_indices.csv')
#     print('Finished writing huc indices to csv')

In [6]:
HUC_summary.columns = ["_".join((i,j)) for i,j in HUC_summary.columns]
HUC_summary.reset_index()

NameError: name 'HUC_summary' is not defined

In [ ]:
HUC_summaryf.columns = ["_".join((i,j)) for i,j in HUC_summaryf.columns]
HUC_summaryf.reset_index()

In [ ]:
huc8_summary = pd.read_csv(gdrive+'test_workflow/HUC8_summary.csv')
huc8_summary.columns

## Where the heck are those dams?

In [ ]:
dam_sjoin = pd.read_csv('/Users/rachelspinti/Documents/River_bifurcation/dams_to_add_sjoin.csv')

In [ ]:
dam_sjoin

## Checking to see if basins have a different # of dams after the missing dams added

In [ ]:
old_red = pd.read_csv(gdrive+'test_workflow/Red_missing_dams.csv')
new_red = pd.read_csv(gdrive+'test_workflow/Red.csv')

In [ ]:
print(len(old_red), len(new_red))

In [ ]:
old_redf = old_red[old_red['DamID']!=0]
new_redf = new_red[new_red['DamID']!=0]

In [ ]:
print(len(old_redf), len(new_redf))

In [ ]:
new_colorado = pd.read_csv(gdrive+'test_workflow/Colorado.csv')
old_colorado = pd.read_csv(gdrive+'test_workflow/Colorado_new.csv')
old_coloradof = old_colorado[old_colorado['DamID']!=0]
new_coloradof = new_colorado[new_colorado['DamID']!=0]
print(len(old_coloradof), len(new_coloradof))

In [ ]:
'CO00151' in new_colorado.NIDID.values
# 'NV10122' in new_colorado.NIDID.values

## What does wrong IDs look like

In [ ]:
wrongID = pd.read_csv('/Users/rachelspinti/Documents/River_bifurcation/large_dams_wrongID.csv')
wrongID

## Updating NIDID?

In [ ]:
# CSV with correct NIDID
wrong_id = pd.read_csv('/Users/rachelspinti/Documents/River_bifurcation/large_dams_wrongID.csv', index_col = 0)
wrong_id = wrong_id[wrong_id['NABD_NIDID'].notna()]
wrong_id

In [ ]:
wrong_id2 = wrong_id['NIDID']
wrong_id2
# pd.concat([df1,df2]).drop_duplicates(['Code','Name'],keep='last').sort_values('Code')

In [ ]:
print(len(wrong_id), len(wrong_id2))

In [ ]:
nabd_dams = gp.read_file(gdrive+"nabd/nabd_fish_barriers_2012.shp")  #read in NABD from Drive
nabd_dams = pd.DataFrame(nabd_dams)

# #### filtering
nabd_dams = nabd_dams.drop_duplicates(subset='NIDID', keep="first").reset_index(drop=True)
nabd = pd.concat([nabd_dams, wrong_id]).drop_duplicates(['DAM_NAME'],keep='last')

In [ ]:
nabd_dams.update(wrong_id2)
nabd_dams

In [ ]:
'IA04014' in nabd.NIDID.values
'VA089001' in nabd.NIDID.values

# Writing shapefiles in broken? and making shapefile have fewer columns

In [7]:
## folder on the GDrive to save output files to
folder = 'test_workflow/'
gdrive = "/Volumes/GoogleDrive/My Drive/Condon_Research_Group/Research_Projects/Rachel/Research/Data/bifurcation_data_repo/" #where shapefiles/csv live 

HUC8_summary = pd.read_csv(gdrive+folder+'/HUC8_summary.csv')

huc8 = gp.read_file(gdrive+"hucs/HUC8_CONUS.shp")

In [8]:
HUC8_summary.columns
# huc8.columns

Index(['HUC8', 'DamCount_sum', 'LENGTHKM_sum', 'Norm_stor_amax',
       'Norm_stor_sum', 'LENGTHKM_amax', 'LENGTHKM_len', 'LENGTHKM_mean',
       'seg_outlet', 'Frag_outlet', 'LENGTHKM_up_outlet', 'DOR_outlet',
       'dci_outlet', 'Norm_stor_up_outlet', 'QC_MA_outlet'],
      dtype='object')

In [9]:
huc8 = huc8[['OBJECTID', 'AreaSqKm', 'AreaAcres', 'Name', 'States', 'HUC8_no', 'geometry']]
huc8

,OBJECTID,AreaSqKm,AreaAcres,Name,States,HUC8_no,geometry
0,1,3725.91,920691.02,Williamson,OR,18010201,"POLYGON ((-1895026.518 653381.410, -1895061.36..."
1,2,4170.92,1030656.11,Sprague,OR,18010202,"POLYGON ((-1883262.829 605107.930, -1883225.04..."
2,3,1875.15,463358.54,Upper Klamath Lake,OR,18010203,"POLYGON ((-1946330.000 621322.144, -1946300.86..."
3,4,2539.81,627600.85,Smith,"CA,OR",18010101,"POLYGON ((-2108157.606 587822.030, -2108109.56..."
4,5,3684.31,910412.81,Mad-Redwood,CA,18010102,"POLYGON ((-2140828.614 528314.139, -2140803.27..."
...,...,...,...,...,...,...,...
2187,303,13790.18,3407624.57,Lower Yellowstone,"MT,ND",10100004,"POLYGON ((-500705.934 879674.456, -500706.921 ..."
2188,304,2257.87,557932.00,Beaver,"MT,ND",10110204,"POLYGON ((-493873.168 816129.593, -493842.029 ..."
2189,305,6619.37,1635681.26,Madison,"ID,MT,WY",10020007,"POLYGON ((-1076996.594 734311.057, -1077005.42..."
2190,306,3360.97,830512.01,Little Bighorn,"MT,WY",10080016,"POLYGON ((-788116.583 670592.553, -788062.679 ..."
2191,307,2757.26,681332.12,Middle Powder,"MT,WY",10090207,"POLYGON ((-633504.125 625194.948, -633460.664 ..."

In [10]:
huc8 = huc8.merge(HUC8_summary, left_on = 'HUC8_no', right_on = 'HUC8', how = 'left')
huc8 = huc8.drop(columns=['HUC8'])
huc8.columns

Index(['OBJECTID', 'AreaSqKm', 'AreaAcres', 'Name', 'States', 'HUC8_no',
       'geometry', 'DamCount_sum', 'LENGTHKM_sum', 'Norm_stor_amax',
       'Norm_stor_sum', 'LENGTHKM_amax', 'LENGTHKM_len', 'LENGTHKM_mean',
       'seg_outlet', 'Frag_outlet', 'LENGTHKM_up_outlet', 'DOR_outlet',
       'dci_outlet', 'Norm_stor_up_outlet', 'QC_MA_outlet'],
      dtype='object')

# Figure out missing HUC 8 from Colorado Basin

In [11]:
co = pd.read_csv(gdrive+'/test_workflow/Colorado.csv')
co

/Users/rachelspinti/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (3,4,5,7,8,9,10,11,14,15,16,19,20,21,24,28,32,33,34,35,36,38,39,40,41,42,44,45,46,54,60) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Hydroseq,COMID,COMMENT,City,Cond_Date,Cond_desc,step,Condition,Core,County,...,StartFlag,UpHydroseq,DnHydroseq,QC_MA,QE_MA,HUC2,HUC4,HUC8,Norm_stor,DamCount
0,760013519,1333490.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,760013784,760013270,218.676,209.531,14.0,1402.0,14020001.0,106225.0,1
1,760007121,1312293.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,760007162,760007075,554.788,471.678,14.0,1401.0,14010002.0,153640.0,1
2,760012360,1326889.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,760012574,760012160,257.167,183.628,14.0,1401.0,14010004.0,102373.0,1
3,760006328,3253131.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,760006360,760006294,2042.135,1655.957,14.0,1402.0,14020002.0,748430.0,1
4,760005946,3253121.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,760005981,760005918,2323.031,1942.488,14.0,1402.0,14020002.0,117190.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187023,720050315,21376782.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,720068338,720026398,0.185,0.185,15.0,1508.0,15080303.0,0.0,0
187024,720026398,21376788.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,720050315,0,0.236,0.236,15.0,1508.0,15080303.0,0.0,0
187025,800064821,14600811.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,1,0,800047380,0.000,0.000,15.0,1501.0,15010008.0,0.0,0
187026,800047380,14600813.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0,800064820,0,0.000,0.000,15.0,1501.0,15010008.0,0.0,0
187027,800064820,14600815.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,1,0,800047380,0.000,0.000,15.0,1501.0,15010008.0,0.0,0

In [12]:
co.columns

Index(['Hydroseq', 'COMID', 'COMMENT', 'City', 'Cond_Date', 'Cond_desc',
       'step', 'Condition', 'Core', 'County', 'Dam_Name2', 'Dam_former',
       'Dam_height', 'Dam_length', 'Dam_name', 'Dam_type', 'Designer',
       'Distance', 'Drain_area', 'EAP', 'Foundation', 'Hazard', 'Hyd_Height',
       'Insp_Freq', 'Inspection', 'Len_locks', 'Max_Disch', 'Max_stor',
       'NIDID', 'NID_height', 'NID_stor', 'Num_locks', 'Outlet_gat',
       'Owner_name', 'Owner_type', 'Private', 'Purposes', 'RecordID', 'River',
       'STATEID', 'Section', 'Source', 'Spill_type', 'Spill_wid', 'St_reg',
       'St_reg_ag', 'State', 'Str_Height', 'Surf_area', 'UNIQUE_STR', 'Volume',
       'Wid_locks', 'Year_compl', 'Year_modif', 'geometry', 'newX', 'newY',
       'DamID', 'Grand_flag', 'GRAND_ID', 'NABD_ID', 'Coordinates', 'LENGTHKM',
       'REACHCODE', 'FTYPE', 'StreamOrde', 'StartFlag', 'UpHydroseq',
       'DnHydroseq', 'QC_MA', 'QE_MA', 'HUC2', 'HUC4', 'HUC8', 'Norm_stor',
       'DamCount'],
      dtype='object')

In [18]:
14020004.00 in co.HUC8.values

True

In [37]:
pd.set_option('display.max_rows', 500)
# # print(co.REACHCODE[1000:1499])

# for i in co.REACHCODE:
#     if i > 14060000900000.0 and i < 14070000000000.0:
#         print(i)

# Why are dams not being plotted

In [39]:
co = co[co['DamID']!=0]

In [43]:
co.geometry

0      MULTIPOLYGON (((-106.5956 38.8186, -106.596089...
1      MULTIPOLYGON (((-106.3201 39.8777, -106.320589...
2      MULTIPOLYGON (((-106.8081 39.3624, -106.808589...
3      MULTIPOLYGON (((-107.3242 38.4533, -107.324689...
4      MULTIPOLYGON (((-107.528 38.4519, -107.5284894...
                             ...
959         POINT (-110.0992849999999 43.12521200000003)
960         POINT (-110.5662529999999 42.60370400000005)
961         POINT (-110.2580029999999 42.59919700000006)
962         POINT (-110.2590979999999 42.59614500000004)
963         POINT (-109.8363239999999 43.02653000000004)
Name: geometry, Length: 964, dtype: object

In [4]:
## corrected nabd broken?
nabd_dams = gp.read_file(gdrive+"nabd/nabd_fish_barriers_2012.shp", 
                            usecols=['COMID', 'NIDID', 'Norm_stor', 'Max_stor', 
                                    'Year_compl', 'Purposes', 'geometry'])  #read in NABD from Drive
nabd_dams = nabd_dams.drop_duplicates(subset='NIDID', keep="first")  #drop everything after first duplicate
print('Length of old NABD', len(nabd_dams))
print(type(nabd_dams))
print(nabd_dams.columns)

#Add missing dams to NABD
dams_to_add = gp.read_file(gdrive+'other_dam_datasets/dams_to_add_centroid.shp')
dams_to_add = dams_to_add[['NIDID','Norm_stor', 'Max_stor', 'Year_compl', 
                                'Purposes', 'join_COMID', 'geometry']].rename(columns={'join_COMID':'COMID'}) #filter added dams to match NABD
nabd_dams = dams_to_add.append(nabd_dams)
print('Length of new NABD', len(nabd_dams))
print(type(nabd_dams))
print(nabd_dams.columns)

#Update wrong NIDIDs for large dams
wrong_id = pd.read_csv(gdrive+'other_dam_datasets/large_dams_wrongID.csv', index_col = 0)
wrong_id = wrong_id[wrong_id['NABD_NIDID'].notna()]
wrong_id = wrong_id['NIDID']
nabd_dams.update(wrong_id)
print(type(nabd_dams))
print(nabd_dams.columns)

# print(type(nabd_dams))
# # nabd_damsGeo = nabd_dams.copy()
# # nabd_damsGeo.geometry = nabd_damsGeo.geometry.astype(str)
# # nabd_damsGeo['geometry'] = nabd_damsGeo['geometry'].apply(wkt.loads)
# # nabd_damsGeo = gp.GeoDataFrame(nabd_damsGeo, geometry='geometry')
nabd_dams.to_file(gdrive+'nabd/nabd_corrected.shp')

Length of old NABD 51795
<class 'geopandas.geodataframe.GeoDataFrame'>
Index(['COMMENT', 'NIDID', 'COMID', 'UNIQUE_STR', 'newX', 'newY', 'RecordID',
       'Dam_name', 'Dam_former', 'STATEID', 'Section', 'County', 'River',
       'City', 'Distance', 'Owner_name', 'Owner_type', 'Dam_type', 'Core',
       'Foundation', 'Purposes', 'Year_compl', 'Year_modif', 'Dam_length',
       'Dam_height', 'NID_height', 'Hazard', 'EAP', 'Inspection', 'Outlet_gat',
       'Volume', 'State', 'Dam_Name2', 'Designer', 'Private', 'Str_Height',
       'Hyd_Height', 'Max_Disch', 'Max_stor', 'Norm_stor', 'NID_stor',
       'Surf_area', 'Drain_area', 'Insp_Freq', 'St_reg', 'St_reg_ag',
       'Spill_type', 'Num_locks', 'Len_locks', 'Wid_locks', 'Source',
       'Condition', 'Cond_Date', 'Cond_desc', 'Spill_wid', 'geometry'],
      dtype='object')
Length of new NABD 51886
<class 'geopandas.geodataframe.GeoDataFrame'>
Index(['NIDID', 'Norm_stor', 'Max_stor', 'Year_compl', 'Purposes', 'COMID',
       'geometry', 'COMMENT', 'UNIQUE_STR', 'newX', 'newY', 'RecordID',
       'Dam_name', 'Dam_former', 'STATEID', 'Section', 'County', 'River',
       'City', 'Distance', 'Owner_name', 'Owner_type', 'Dam_type', 'Core',
       'Foundation', 'Year_modif', 'Dam_length', 'Dam_height', 'NID_height',
       'Hazard', 'EAP', 'Inspection', 'Outlet_gat', 'Volume', 'State',
       'Dam_Name2', 'Designer', 'Private', 'Str_Height', 'Hyd_Height',
       'Max_Disch', 'NID_stor', 'Surf_area', 'Drain_area', 'Insp_Freq',
       'St_reg', 'St_reg_ag', 'Spill_type', 'Num_locks', 'Len_locks',
       'Wid_locks', 'Source', 'Condition', 'Cond_Date', 'Cond_desc',
       'Spill_wid'],
      dtype='object')
<class 'geopandas.geodataframe.GeoDataFrame'>
Index(['NIDID', 'Norm_stor', 'Max_stor', 'Year_compl', 'Purposes', 'COMID',
       'geometry', 'COMMENT', 'UNIQUE_STR', 'newX', 'newY', 'RecordID',
       'Dam_name', 'Dam_former', 'STATEID', 'Section', 'County', 'River',
       'City', 'Distance', 'Owner_name', 'Owner_type', 'Dam_type', 'Core',
       'Foundation', 'Year_modif', 'Dam_length', 'Dam_height', 'NID_height',
       'Hazard', 'EAP', 'Inspection', 'Outlet_gat', 'Volume', 'State',
       'Dam_Name2', 'Designer', 'Private', 'Str_Height', 'Hyd_Height',
       'Max_Disch', 'NID_stor', 'Surf_area', 'Drain_area', 'Insp_Freq',
       'St_reg', 'St_reg_ag', 'Spill_type', 'Num_locks', 'Len_locks',
       'Wid_locks', 'Source', 'Condition', 'Cond_Date', 'Cond_desc',
       'Spill_wid'],
      dtype='object')

In [5]:
nabd_cor = pd.read_csv(gdrive+'nabd/nabd_corrected.csv')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
nabd_cor