# How to get stuff summarized by fragment into the HUC shapefiles
To try:
- add HUC 2/4 columns to fragments
- create new dataframe with each HUC 2 and append each river basin fragment to it with columns we want
- create new dataframe with each HUC 4 and append each river basin fragment to it with columns we want
- merge this with the HUC2 and HUC 4 shapefiles

In [1]:
import geopandas as gp, pandas as pd, matplotlib as mpl, numpy as np
from pathlib import Path
gdrive = Path("/Volumes/GoogleDrive/My Drive/Condon_Research_Group/Research_Projects/Rachel/Research/Data/bifurcation_data_repo") #where shapefiles/csv

In [2]:
red_frag = pd.read_csv(gdrive/'all_basins_unfiltered/Red_fragments.csv')
red_frag

,Frag,DamCount,HUC4,LENGTHKM,Norm_stor,Frag_Index,DnHydroseq,QC_MA,FragDn,HeadFlag
0,1.978500e+04,1,902.0,998.014,130748880.0,1.0,840002034.0,1.034610e+08,28177.0,1.0
1,1.978800e+04,1,902.0,183.573,863436.0,2.0,840003772.0,1.709735e+07,19785.0,1.0
2,1.978900e+04,1,902.0,3.585,493392.0,3.0,840004171.0,7.724438e+05,19788.0,1.0
3,1.979000e+04,1,902.0,21.312,4317180.0,4.0,840004401.0,2.573622e+07,19800.0,1.0
4,1.979100e+04,1,902.0,37.268,15393830.4,5.0,840005270.0,1.608201e+07,19790.0,1.0
...,...,...,...,...,...,...,...,...,...,...
475,9.990000e+09,0,904.0,3.178,0.0,476.0,NaN,NaN,NaN,1.0
476,9.990000e+09,0,904.0,207.128,0.0,477.0,NaN,NaN,NaN,1.0
477,9.990000e+09,0,904.0,16.293,0.0,478.0,NaN,NaN,NaN,1.0
478,9.990000e+09,0,904.0,160.807,0.0,479.0,NaN,NaN,NaN,1.0
479,9.990000e+09,0,904.0,2.789,0.0,480.0,NaN,NaN,NaN,1.0

In [3]:
red_seg_up = pd.read_csv(gdrive/'all_basins_unfiltered/Red_segments_up.csv', index_col=0)
red_seg_up

,Norm_stor,DamCount,LENGTHKM,QC_MA,DnHydroseq,Norm_stor_up,DamCount_up,LENGTHKM_up,QC_MA_up,nparent,parent_count,upstream_count,DOR
Hydroseq,,,,,,,,,,,,,
840002063,130748880.0,1,2.044,1.034610e+08,840002034,1.322895e+08,6.0,1195.035,3.780817e+09,1.0,1.0,546.0,1.278641
840000151,6599118.0,2,6.137,2.363697e+09,840000150,3.415741e+09,198.0,24469.895,3.827542e+11,2.0,2.0,10319.0,1.445084
840003868,863436.0,1,1.072,1.709735e+07,840003772,1.356828e+06,2.0,187.158,3.054662e+08,1.0,1.0,99.0,0.079359
840028840,493392.0,1,3.585,7.724438e+05,840004171,4.933920e+05,1.0,3.585,7.724438e+05,0.0,0.0,1.0,0.638742
840004526,4317180.0,1,0.230,2.573622e+07,840004401,1.971101e+07,2.0,58.580,3.407299e+08,1.0,1.0,61.0,0.765886
...,...,...,...,...,...,...,...,...,...,...,...,...,...
590069290,0.0,0,0.234,2.137839e+06,590065190,0.000000e+00,0.0,2.946,1.342534e+07,1.0,1.0,12.0,0.000000
590109874,0.0,0,0.038,1.293955e+06,590096771,0.000000e+00,0.0,0.995,3.585389e+06,1.0,1.0,4.0,0.000000
590096771,0.0,0,0.072,1.318066e+06,590081458,0.000000e+00,0.0,1.067,4.903455e+06,1.0,1.0,5.0,0.000000
590160491,0.0,0,0.103,6.661770e+05,590129226,0.000000e+00,0.0,0.687,1.001944e+06,1.0,1.0,2.0,0.000000
590129226,0.0,0,0.270,1.289490e+06,590109874,0.000000e+00,0.0,0.957,2.291434e+06,1.0,1.0,3.0,0.000000

In [4]:
red_seg = pd.read_csv(gdrive/'all_basins_unfiltered/Red_segments.csv', index_col=0)
red_seg

,DamID,Coordinates,LENGTHKM,StreamOrde,StartFlag,UpHydroseq,DnHydroseq,QC_MA,HUC2,HUC4,HUC8,Norm_stor,DamCount,Frag,Headwater,step,Frag_Index
Hydroseq,,,,,,,,,,,,,,,,,
840002063,19785.0,MULTILINESTRING ZM ((-96.6388022271039 45.7687...,2.044,5,0,840002093,840002034,1.034610e+08,9.0,902.0,9020101.0,130748880.0,1,1.978500e+04,0.0,32.0,1.0
840000151,28196.0,MULTILINESTRING ZM ((-97.0208380931776 47.9225...,6.137,7,0,840000153,840000150,2.363697e+09,9.0,902.0,9020301.0,6599118.0,2,2.819600e+04,0.0,82.0,155.0
840003868,19788.0,MULTILINESTRING ZM ((-96.1197142279096 45.8723...,1.072,4,0,840003962,840003772,1.709735e+07,9.0,902.0,9020102.0,863436.0,1,1.978800e+04,0.0,29.0,2.0
840028840,19789.0,MULTILINESTRING ZM ((-96.0003330947616 45.8709...,3.585,1,1,0,840004171,7.724438e+05,9.0,902.0,9020102.0,493392.0,1,1.978900e+04,1.0,NaN,3.0
840004526,19790.0,MULTILINESTRING ZM ((-95.5445158288025 47.0275...,0.230,3,0,840004650,840004401,2.573622e+07,9.0,902.0,9020103.0,4317180.0,1,1.979000e+04,0.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590069290,0.0,MULTILINESTRING ZM ((-113.807293267122 48.8486...,0.234,2,0,590074097,590065190,2.137839e+06,9.0,904.0,9040002.0,0.0,0,9.990000e+09,0.0,8.0,479.0
590109874,0.0,MULTILINESTRING ZM ((-113.80844026712 48.84456...,0.038,1,0,590129226,590096771,1.293955e+06,9.0,904.0,9040002.0,0.0,0,9.990000e+09,0.0,3.0,479.0
590096771,0.0,MULTILINESTRING ZM ((-113.808301600453 48.8448...,0.072,1,0,590109874,590081458,1.318066e+06,9.0,904.0,9040002.0,0.0,0,9.990000e+09,0.0,4.0,479.0
590160491,0.0,MULTILINESTRING ZM ((-113.809170800452 48.8414...,0.103,1,0,590239157,590129226,6.661770e+05,9.0,904.0,9040002.0,0.0,0,9.990000e+09,0.0,1.0,479.0
590129226,0.0,MULTILINESTRING ZM ((-113.809446600452 48.8423...,0.270,1,0,590160491,590109874,1.289490e+06,9.0,904.0,9040002.0,0.0,0,9.990000e+09,0.0,2.0,479.0

In [15]:
red_dci = pd.read_csv(gdrive/'all_basins_unfiltered/Red_fragments_dci.csv', index_col=0)
red_dci

# red_dci.dci.unique()
# print(red_seg_up.DOR.unique())

,LENGTHKM_sq,LENGTHKM,FragDn,LENGTHKM_sq_up,LENGTHKM_up,nparent,parent_count,upstream_count,LENGTHKM_sq_upexclude,dci
Frag,,,,,,,,,,
1.978500e+04,996031.944196,998.014,28177.0,1.029780e+06,1195.035,4.0,4.0,6.0,33747.605613,0.023631
1.978800e+04,33699.046329,183.573,19785.0,3.371190e+04,187.158,1.0,1.0,2.0,12.852225,0.000367
1.978900e+04,12.852225,3.585,19788.0,1.285223e+01,3.585,0.0,0.0,1.0,0.000000,0.000000
1.979000e+04,454.201344,21.312,19800.0,1.843105e+03,58.580,1.0,1.0,2.0,1388.903824,0.404737
1.979100e+04,1388.903824,37.268,19790.0,1.388904e+03,37.268,0.0,0.0,1.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
9.990000e+09,10.099684,3.178,NaN,1.009968e+01,3.178,0.0,0.0,1.0,0.000000,0.000000
9.990000e+09,42902.008384,207.128,NaN,4.290201e+04,207.128,0.0,0.0,1.0,0.000000,0.000000
9.990000e+09,265.461849,16.293,NaN,2.654618e+02,16.293,0.0,0.0,1.0,0.000000,0.000000
9.990000e+09,25858.891249,160.807,NaN,2.585889e+04,160.807,0.0,0.0,1.0,0.000000,0.000000
9.990000e+09,7.778521,2.789,NaN,7.778521e+00,2.789,0.0,0.0,1.0,0.000000,0.000000

In [6]:
red_dci_fil = red_dci[['Frag', 'HUC2', 'HUC4', 'Norm_stor', 'DamCount', 'LENGTHKM_frag','LENGTHKM_up', 'dci', 'StreamOrde', 'QC_MA']]
red_dci_fil

,Frag,HUC2,HUC4,Norm_stor,DamCount,LENGTHKM_frag,LENGTHKM_up,dci,StreamOrde,QC_MA
Hydroseq,,,,,,,,,,
840002063,1.978500e+04,9.0,902.0,130748880.0,1,998.014,1195.035,0.023631,5,1.034610e+08
840000151,2.819600e+04,9.0,902.0,6599118.0,2,3851.669,24469.895,0.026563,7,2.363697e+09
840003868,1.978800e+04,9.0,902.0,863436.0,1,183.573,187.158,0.000367,4,1.709735e+07
840028840,1.978900e+04,9.0,902.0,493392.0,1,3.585,3.585,0.000000,1,7.724438e+05
840004526,1.979000e+04,9.0,902.0,4317180.0,1,21.312,58.580,0.404737,3,2.573622e+07
...,...,...,...,...,...,...,...,...,...,...
590069290,9.990000e+09,9.0,904.0,0.0,0,160.807,160.807,0.000000,2,2.137839e+06
590109874,9.990000e+09,9.0,904.0,0.0,0,160.807,160.807,0.000000,1,1.293955e+06
590096771,9.990000e+09,9.0,904.0,0.0,0,160.807,160.807,0.000000,1,1.318066e+06
590160491,9.990000e+09,9.0,904.0,0.0,0,160.807,160.807,0.000000,1,6.661770e+05
590129226,9.990000e+09,9.0,904.0,0.0,0,160.807,160.807,0.000000,1,1.289490e+06

In [7]:
huc4 = gp.read_file(gdrive/"hucs/HUC4_CONUS.shp") 
sum_by_huc4 = red_dci_fil.pivot_table(values = ['DamCount', 'Norm_stor'], index='HUC4', aggfunc=np.sum)
avg_by_huc4 = red_dci_fil.pivot_table(values = ['LENGTHKM_frag'], index='HUC4', aggfunc=np.mean)
avg_by_huc4 = avg_by_huc4.rename(columns = {'LENGTHKM_frag':'avg_frag_length'})
max_by_huc4 = red_dci_fil.pivot_table(values = ['LENGTHKM_frag'], index='HUC4', aggfunc=np.max)
max_by_huc4 = max_by_huc4.rename(columns = {'LENGTHKM_frag':'max_frag_length'})
        
huc4 = huc4.merge(sum_by_huc4, left_on = 'HUC4_no', right_on = 'HUC4', how = 'left')
huc4 = huc4.merge(avg_by_huc4, left_on = 'HUC4_no', right_on = 'HUC4', how = 'left')
huc4 = huc4.merge(max_by_huc4, left_on = 'HUC4_no', right_on = 'HUC4', how = 'left')
huc4
huc4.to_file(gdrive/'hucs/huc4_test.shp')
print('Finished writing huc4 test to shp')

Finished writing huc4 test to shp

In [8]:
# huc4.columns
sum_by_huc4
avg_by_huc4
max_by_huc4 = max_by_huc4.rename

In [9]:
col_seg_up = pd.read_csv(gdrive/'all_basins_unfiltered/colorado_segments_up.csv', index_col=0)

In [10]:
col_seg_up

,Norm_stor,DamCount,LENGTHKM,QC_MA,DnHydroseq,Norm_stor_up,DamCount_up,LENGTHKM_up,QC_MA_up,nparent,parent_count,upstream_count,DOR
Hydroseq,,,,,,,,,,,,,
760035760,2.713656e+04,1,0.388,1.516312e+06,760031821,2.812334e+05,2.0,2.137,5.123133e+06,1.0,1.0,4.0,0.185472
760041465,2.369515e+06,2,4.580,7.836956e+06,760035640,2.369515e+06,2.0,6.838,1.347892e+07,1.0,1.0,3.0,0.302351
720030561,1.279119e+06,1,0.443,8.144147e+05,720025950,1.279119e+06,1.0,29.697,3.271054e+06,2.0,2.0,13.0,1.570599
720000357,8.665197e+06,1,4.194,3.947052e+10,720000356,8.498367e+10,820.0,298578.622,5.415194e+13,2.0,2.0,126684.0,2.153092
720095916,4.625550e+08,1,4.559,1.250198e+04,720008203,4.625550e+08,1.0,4.559,1.250198e+04,0.0,0.0,1.0,36998.538049
...,...,...,...,...,...,...,...,...,...,...,...,...,...
720050315,0.000000e+00,0,2.016,1.652047e+05,720026398,0.000000e+00,0.0,10.071,2.277146e+05,2.0,2.0,3.0,0.000000
720026398,0.000000e+00,0,0.971,2.107477e+05,0,0.000000e+00,0.0,14.939,4.679313e+05,2.0,2.0,5.0,0.000000
800064821,0.000000e+00,0,1.838,0.000000e+00,800047380,0.000000e+00,0.0,1.838,0.000000e+00,0.0,0.0,1.0,0.000000
800047380,0.000000e+00,0,0.211,0.000000e+00,0,0.000000e+00,0.0,3.924,0.000000e+00,2.0,2.0,3.0,0.000000
800064820,0.000000e+00,0,1.875,0.000000e+00,800047380,0.000000e+00,0.0,1.875,0.000000e+00,0.0,0.0,1.0,0.000000

In [11]:
#checking if I multiplied Norm_stor by the unit converter
# import pandas as pd
# test = pd.read_csv('dams_to_add.csv')
# test

In [12]:
segments_filtered = red_seg[['Frag','HUC2','HUC4']]
segments_filtered = segments_filtered.reset_index(drop=True)
segments_filtered
fragments = red_frag.join(segments_filtered, on = 'Frag', how= 'left', lsuffix='_left', rsuffix='_right')
fragments

,Frag_left,DamCount,HUC4_left,LENGTHKM,Norm_stor,Frag_Index,DnHydroseq,QC_MA,FragDn,HeadFlag,Frag_right,HUC2,HUC4_right
0,1.978500e+04,1,902.0,998.014,130748880.0,1.0,840002034.0,1.034610e+08,28177.0,1.0,19878.0,9.0,903.0
1,1.978800e+04,1,902.0,183.573,863436.0,2.0,840003772.0,1.709735e+07,19785.0,1.0,19878.0,9.0,903.0
2,1.978900e+04,1,902.0,3.585,493392.0,3.0,840004171.0,7.724438e+05,19788.0,1.0,19878.0,9.0,903.0
3,1.979000e+04,1,902.0,21.312,4317180.0,4.0,840004401.0,2.573622e+07,19800.0,1.0,19878.0,9.0,903.0
4,1.979100e+04,1,902.0,37.268,15393830.4,5.0,840005270.0,1.608201e+07,19790.0,1.0,19878.0,9.0,903.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,9.990000e+09,0,904.0,3.178,0.0,476.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
476,9.990000e+09,0,904.0,207.128,0.0,477.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
477,9.990000e+09,0,904.0,16.293,0.0,478.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
478,9.990000e+09,0,904.0,160.807,0.0,479.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
479,9.990000e+09,0,904.0,2.789,0.0,480.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [13]:
red_frag2 = pd.read_csv(gdrive/'all_csvs_from_Rachel_testing/Red_fragments.csv', index_col=0)
red_frag2

,DamCount,LENGTHKM,Norm_stor,Frag_Index,DnHydroseq,QC_MA,FragDn,HeadFlag
Frag,,,,,,,,
19785,1,998.014,130748880.0,1,840002034.0,1.034610e+08,28177.0,1
19788,1,183.573,863436.0,2,840003772.0,1.709735e+07,19785.0,1
19789,1,3.585,493392.0,3,840004171.0,7.724438e+05,19788.0,1
19790,1,21.312,4317180.0,4,840004401.0,2.573622e+07,19800.0,1
19791,1,37.268,15393830.4,5,840005270.0,1.608201e+07,19790.0,1
...,...,...,...,...,...,...,...,...
52123,0,3.178,0.0,476,NaN,NaN,NaN,1
52124,0,207.128,0.0,477,NaN,NaN,NaN,1
52125,0,16.293,0.0,478,NaN,NaN,NaN,1
52126,0,160.807,0.0,479,NaN,NaN,NaN,1
52127,0,2.789,0.0,480,NaN,NaN,NaN,1